<%- include('partials/header', {title: 'GroCrop',cssFiles: [ 'savedpage.css'], topNavBar: true}) %>
      <div class="content">
        <p id="welcome-text"><%= user.username%>'s saved crops.</p>
        <% if (savedCropData.length === 0) { %>
        </br>
            <p>You have no crops saved.</p>
            <p>Try saving some!</p>
      </div>
        <!-- Scroll Pane -->
          <% } else { %>
          </div>
            <div class="searchbar">
              <input type="text" id="crop-search" name="q" placeholder="Filter saved crops..." oninput="filterCrops(this.value)">
            </div>
  <div class="scroll-pane">
    <% for (let crop of savedCropData) { %>
      <div class="crop-card" id="crop-<%= crop.id %>">
        <div class="card-grid">
          <img src="/img/placeholder.png" class="crop-img" alt="crop-image" id="img-<%= crop.id %>">
          <h1 class="crop-name"><%= crop.name %></h1>
          <img src="/img/circle.png" alt="remove-saved-icon" class="save-button" id="<%= crop.id %>">
          <img src="/img/dropdownicon-closed.png" alt="dropdown-icon" class="dropdown-button">
        </div>
        <p class="crop-zone">Zones: <%= crop.zones %></p>
        <% for (let info of crop.information) { %>
          <p class="crop-title"><%= info.title %></p>
          <p class="crop-info"><%= info.content %></p>
        <% } %>
      </div>
    <% } %>
  </div>
<% } %> 

<%- include('partials/footer', { jsFiles: ['dropdown_gardenpg.js', 'searchbar.js', 'editSaved.js'], botNavBar: true }) %>